aws:
  access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
  secret_access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX 

game_server:
  provider: aws
  id: i-xxxxxx
  storage_id: 
  host_name:  
  
admin:
  user: hbeaver
  password: yeahapassword1
